.container{
	padding:10px;
	width: 450px;
}
.item{
	margin:10px;
	width:100px;
	height:100px;
}
.item1{
	background: green;
}
.item2{
	background: red;
}
.item3{
	background: blue;
}
.container{
	display: flex;
	flex-wrap:row wrap;
	justify-content: space-between;
}