.holder{
	display:flex;
	justify-content:space-between;
	flex-direction:row;
	flex-wrap: wrap;
}
.item{
	background:green;
	width:80px;
	height:80px;
}
.item1{
	width:80px;
	height:80px;
	background: red;
}
.item2{
	width:80px;
	height:80px;
	background: blue;
}
.item3{
	background: blue;
}
.container{
	display: flex;
	flex-wrap:row wrap;
	justify-content: space-between;
}